<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 user_show">

      <h2><%= @user.name %>'s stories</h2>

      <% @stories.each do |story| %>
        <li><%= link_to "#{story.lines.first.content}...", story %><span class="glyphicon glyphicon-chevron-right"></span></li>

      <% end %>
    </div>
  </div>
</div>