// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-container {
  width: 50%;
  margin: 0 auto 50px auto;
}
.sign-up-form {
  padding: 25px;
  background-color: #323E49;
  border-radius: 8px;
}
